<!DOCTYPE html>
<html>
<head>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"  rel="stylesheet"/>
    <title>{% block title %}No title{% endblock %}</title>

</head>
<body>
{% block header %}
    {% if user.is_authenticated %}
        <p>{{ user.username }} <a href="{% url logout %}?next={% url home %}">Logout</a></p>
    {% else %}
        <p><a href="{% url login %}">Login</a></p>
    {% endif %}
{% endblock %}
{% block body %}{% block content %}{% endblock content %}{% endblock body %}</body>
</html>
