{% load admintags %}
<!DOCTYPE html>
<html>
<head>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"  rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.21.custom.css"  rel="stylesheet"/>
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
    <title>{% block title %}No title{% endblock %}</title>
    {% block form_media %}{% endblock %}
</head>
<body>
<div class="container">
{% block header %}
    <div class="page-header">
    <div class="auth pull-right">
    {% if user.is_authenticated %}
        <a href="{% edit_link user %}">{{ user.username }}</a> <a class="btn" href="{% url logout %}?next={% url home %}">Logout</a>
    {% else %}
        <a class="btn" href="{% url login %}">Login</a>
    {% endif %}
    </div>
    <h1>42 Coffee Cups Test Assignment</h1>
    </div>
{% endblock %}
{% block body %}{% block content %}{% endblock content %}{% endblock body %}
</div>
</body>
</html>
