<!DOCTYPE html>
<html>
<head>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"  rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.21.custom.css"  rel="stylesheet"/>
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
    <title>{% block title %}No title{% endblock %}</title>
    {% block form_media %}{% endblock %}
</head>
<body>
{% block header %}
    {% if user.is_authenticated %}
        <p>{{ user.username }} <a href="{% url logout %}?next={% url home %}">Logout</a></p>
    {% else %}
        <p><a href="{% url login %}">Login</a></p>
    {% endif %}
{% endblock %}
{% block body %}{% block content %}{% endblock content %}{% endblock body %}</body>
</html>
