{% extends "base.html" %}
{% block title %}Info page{% endblock %}
{% block content %}
<h1>42 Coffee Cups Test Assignment</h1>
{% if owner %}
    <div class="row">
        <div class="span6">
            <dl>
                <dt>Name</dt><dd>{{ owner.firstname }}</dd>
                <dt>Last name</dt><dd>{{ owner.lastname }}</dd>
                <dt>Date of birth</dt><dd>{{ owner.birthday }}</dd>
                <dt>Bio</dt><dd>{{ owner.bio }}</dd>
            </dl>
        </div>
        <div class="span6">
            <dl>
                <dt>Email</dt><dd>{{ owner.email }}</dd>
                <dt>Jabber</dt><dd>{{ owner.jabber }}</dd>
                <dt>Skype</dt><dd>{{ owner.skype }}</dd>
                <dt>Other contacts:</dt><dd>{{ owner.other }}</dd>
            </dl>

        </div>
    </div>
{% endif %}
<h2>Requests</h2>
{% if last_requests %}
        <table>
            <thead>
            <tr>
                <th>Date/time</th>
                <th>Method</th>
                <th>Path</th>
            </tr>
            </thead>
            <tbody>
            {% for r in last_requests %}
            <tr>
                <td>{{ r.dt_request }}</td>
                <td>{{ r.method }}</td>
                <td>{{ r.path }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% else %}
        <p>No requests</p>
{% endif %}
<p>TEMPLATE_CONTEXT_PROCESSORS = {{ settings.TEMPLATE_CONTEXT_PROCESSORS }}</p>
{% endblock content %}
