{% extends "base.html" %}
{% block content %}
<div class="page-header">
<h2>Requests</h2>
</div>
<form class="form-inline" action="" method="get">
    {{ form.priority.label }}: {{ form.priority }}
    <input type=submit value="submit" />
</form>
{% if last_requests %}
        <table class="table">
            <thead>
            <tr>
                <th>Date/time</th>
                <th>Method</th>
                <th>Path</th>
            </tr>
            </thead>
            <tbody>
            {% for r in last_requests %}
            <tr>
                <td>{{ r.logged_date }}</td>
                <td>{{ r.method }}</td>
                <td>{{ r.path }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

{% if is_paginated %}
        <ul class="pager">
            {% if page_obj.has_previous %}
            <li class="previous">
            <a href="?page={{ page_obj.previous_page_number }}&priority={{ priority }}">&larr; Back</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="next">
            <a href="?page={{ page_obj.next_page_number }}&priority={{ priority }}">Next &rarr;</a>
            </li>
            {% endif %}
        </ul>
    {% endif %}
{% else %}
        <p>No requests</p>
{% endif %}
{% endblock content %}